
:host {
    display: grid;
    padding:5px;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows: 60px,repeat(3,1fr);
    gap:1.5rem 1rem;

    & > * {
        border-width: 1px;
    }
}

h1{
    grid-column:1/3;
    grid-row:1/4;
    grid-row-end:span 1;
    grid-column-end: span 3;
    border: 1px solid orange; 
    

    display:grid;
    align-items:center;
    justify-content:center;

}

 trolley-availability{
    grid-column:1/3;
    grid-row:2/4;
    grid-row-end:span 1;
    grid-column-end: span 1;
    border: 1px solid green; 
    


      
 }

 p2-ckd-stores{
    grid-column:2/3;
    grid-row:2/4;
    grid-row-end:span 1;
    grid-column-end: span 1;
    
    border: 1px solid red; 
      
 }

 p1-engine-stores{
    grid-column:3/3;
    grid-row:2/4;
    grid-row-end:span 1;
    grid-column-end: span 1;
    
    border: 1px solid yellow; 
    
 }

 p2-frame-and-paint-stores{
    grid-column:1/3;
    grid-row:3/4;
    grid-row-end:span 1;
    grid-column-end: span 1;
    border: 1px solid green; 
    
 }


 p2-vehicle-stores{
    grid-column:2/3;
    grid-row:3/4;
    grid-row-end:span 1;
    grid-column-end: span 1;
    
    border: 1px solid red; 
    
 }

 p1-vehicle-stores{
    grid-column:3/3;
    grid-row:3/4;
    grid-row-end:span 2;
    grid-column-end: span 1;
    
    border: 1px solid yellow; 
    

    // height:max-content;
 }

security{
    grid-column:1/3;
    grid-row:4/4;
    grid-row-end:span 1;
    grid-column-end: span 1;
    border: 1px solid green; 
    
 }


p2-vehicle-and-engine-stores{
    grid-column:2/3;
    grid-row:4/4;
    grid-row-end:span 1;
    grid-column-end: span 1;
    
    border: 1px solid red; 
    
}


@media only screen and (max-width: 550px) {
   :host {
      display: grid;
      padding:5px;
      grid-template-columns:repeat(1,1fr);
      grid-template-rows: 60px,repeat(9,1fr);
      gap:1.5rem 1rem;
  
      & > * {
          border-width: 1px;
      }
   }

   
 }