
:host{
    display: grid;
    grid-template-columns:0.5fr 0.5fr;
    grid-template-rows:60px 1fr 1fr;

    align-items: center;
    justify-content: center;

    gap:1.5rem 1rem;
}

h1{
    grid-column:1/3;
    grid-row:1/4;
    grid-row-end:span 1;
    grid-column-end: span 2;
    border: 1px solid orange; 
    border-radius: 0.5rem;

    display:grid;
    align-items:center;
    justify-content:center;
}



dashboard-plant1{
    grid-column:1/3;
    grid-row:2/4;
    grid-row-end:span 1;
    grid-column-end: span 1;
    border: 1px solid green; 
    border-radius: 0.5rem;
    padding:1rem;

    // max-width:calc(0.25*(100vw - 250px));

        cursor: pointer;
        transition: all 0.5s;
        font-weight:bold;      
        &:hover {
            border: 1px solid black;
        }
      
 }

logistics-plant1{
    grid-column:2/3;
    grid-row:2/4;
    grid-row-end:span 1;
    
    border: 1px solid red; 
    border-radius: 0.5rem;
    padding:1rem;


        // card styling
        cursor: pointer;
        transition: all 0.5s;
        font-weight:bold;      
        &:hover {
            border: 1px solid black;
        }
      
 }

 plant-layout-plant1{
    grid-column:1/3;
    grid-row:3/4;
    grid-row-end:span 1;
    grid-column-end: span 1;
    border: 1px solid blue; 
    border-radius: 0.5rem;
    padding:1rem;

        // card styling
        cursor: pointer;
        transition: all 0.5s;
        font-weight:bold;      
        &:hover {
            border: 1px solid black;
        }
      
    
 }

 critical-suppliers-plant1{
    grid-column:2/3;
    grid-row:3/4;
    grid-column-end:span 1;    
    grid-row-end:span 1;
    border: 1px solid yellow;  
    border-radius: 0.5rem;
    padding:1rem;


        // card styling
        cursor: pointer;
        transition: all 0.5s;
        font-weight:bold;      
        &:hover {
            border: 1px solid black;
        }
      
    
 }




 

