


:host{
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:60px 60px 1fr 1fr;
    
    gap:1.5rem 1rem;

    align-items: center;
    justify-content: center;
}

h1{
    grid-column:1/3;
    grid-row:1/5;
    grid-row-end:span 1;
    grid-column-end: span 2;
    border: 1px solid orange;

    border-radius: 0.5rem;

    display:grid;
    align-items:center;
    justify-content:center;
}

.buttons-container{

    grid-column:1/3;
    grid-row:2/5;
    grid-row-end:span 1;
    grid-column-end: span 2;
    border: 1px solid orange;

    border-radius: 0.5rem;
    padding:1rem;

    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}




atat{
    grid-column:1/3;
    grid-row:3/5;
    grid-row-end:span 1;

    grid-column-end: span 1;
    border: 1px solid green;
    border-radius: 0.5rem;
    padding:1rem;

 }

 trips{
    grid-column:2/3;
    grid-row:3/5;
    grid-row-end:span 1;
    
    border: 1px solid red;
    border-radius: 0.5rem;
    padding:1rem;
  
 }

 truck-fleet-status
 {
    grid-column:1/3;
    grid-row:4/5;

    grid-column-end: span 2;
    border: 1px solid blue; 
    border-radius: 0.5rem;
    padding:1rem;  
 }

